.main-container{
    background-image: url("../../Images/display_picc.avif");
    height:100vh;
    background-size: cover;
}
.btn{
    text-align: center;
    color: antiquewhite;
    background-color: crimson;
    padding: 12px 46px;
    margin:3px 3px;
    font-weight: bold;
    border-radius: 10px;
    
}
.btn:hover{
    background-color: rgb(253, 31, 76);
    color:rgb(255, 222, 182);
}
.button{
  display:block;
  margin:auto;
  width: 150px;
}