.day-calendar {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  
  .day {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }
  
  .day-of-week {
    font-size: 14px;
    font-weight: bold;
  }
  
  .day-number {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  .current-day {
    background-color: #ffffcc;
  }
  .next-day{
    font-size: 24px;
  }